	<label for="showCarte"> Carte</label> 
    {{#leaflet-map bounds=leafletBounds onMoveend=(action "updateLeafletBbox") onDragend=(action "updateMapMoved") onMouseover=(action "mouseOver") onClick=(action "dropPin")}}
          	{{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" attribution=attribution}}
            {{#if pin}}
              {{#if isochrone_mode}}
						  	{{#each model.isochrones.features as |isochrone|}}
						  		{{#if (eq isochrone.properties.contour 60)}}
							  		{{#geojson-layer geoJSON=isochrone fillColor="#d01c8b" fillOpacity=".2" stroke=false}}
								  	{{/geojson-layer}}
								  {{/if}}
						  		{{#if (eq isochrone.properties.contour 45)}}
							  		{{#geojson-layer geoJSON=isochrone fillColor="#a3166d"  stroke=false weight=1 fillOpacity=".2"}}
								  	{{/geojson-layer}}
								  {{/if}}
						  		{{#if (eq isochrone.properties.contour 30)}}
							  		{{#geojson-layer geoJSON=isochrone fillColor="#b8e186" stroke=false weight=1 fillOpacity=".6"}}
								  	{{/geojson-layer}}
								  {{/if}}
						  		{{#if (eq isochrone.properties.contour 15)}}
							  		{{#geojson-layer geoJSON=isochrone fillColor="#4dac26"  stroke=false weight=1 fillOpacity=".3"}}
								  	{{/geojson-layer}}
								  {{/if}}
								  {{/each}}
								{{/if}}
								{{#marker-layer location=pinLocation icon=icon draggable=true onDragend=(action "updatePin") onRemove=(action "removePin") riseOnHover=true riseOffset=1000}}
              {{/marker-layer}}
						  {{/if}}
          {{/leaflet-map}}
{{yield}}


