@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

@import "mixins/color";
@import "mixins/animation";
@import "mixins/elevation";
@import "mixins/typography";
//Variables
    //Color
$primary-color: color("pink", "lighten-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("indigo", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
    //Font
$roboto-font-path: "../fonts/roboto/" !default;


@import "grid";
@import "button";
@import "textfield";
@import "wave";
@import "switch";
@import "checkbox";
//
header {
 //   display: none;
}

main  {
display: table;
height: 100vh;
width:100%;
}
#landing {
    color:gray;
    background-color: $primary-color;
    display: table-cell;
    vertical-align: middle;

& p {
    text-align: center;
}
}

#dialog {
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    z-index:1000;
   
}

label {
    text-align: left;
}

 input[type='checkbox'] {
      float: right;
      clear: both;
}

section{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.assistant {
        background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    z-index:1000;
    width: 100%;
}

@media #{$medium-and-up} {
  .assistant {
    width: 300px;
  }
}


#showAssistant + div {
overflow: hidden;
bottom: 100vh;
}

#showAssistant:checked + div {
bottom: auto;
}


.carte {
        background-color: white;
    position: absolute;

    left:0px;
    z-index:500;
    width: 100%;
    height: 100vh;
}

@media #{$medium-and-up} {
  .carte {
    width: 300px;
  }
}

.leaflet-container {
	height: 100%;
	width: 100%;
}


#showCarte + div {
overflow: hidden;
top: 100vh;
height: 0px;
}

#showCarte:checked + div {
bottom: auto;
top:0px;
height: 100vh;
}


.listeoffres {
    height: calc(100vh - 250px);
    overflow-y: scroll;
}