

.m-textfield{
  position: relative;
  margin: 10px 0px;
  padding-bottom: 0px;
	max-width: 200px;
}
 input[type='text']{
  padding: 10px;
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #2196F3;
 /* border-left: 1px solid #2196F3;*/
  transition: all .4s ease;
}
/*css for the textbox focus border*/
input[type='text'] input:after{
	width: 0%;
	height: 2px;
	background-color: #2196F3;
	display: block;
	content: "";
	transition: all .4s;
}

/*the placeholder text*/
input[type='text'] + label{
  position: relative;
  /*needed for transitions*/
  top: 0;
  padding: 10px 10px 10px 20px;
  transition: all .4s ease;
  color: #2196F3;
  opacity: .8;
}
.fa-required{
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  transition: color .4s;
  font-size: 8px;
}

/*active transition and valid*/
input[type='text']:valid, input[type='text']:focus{
  outline: none;
}
/*active only*/
input[type='text']:focus{
   border-color: #FF6D00; 
}
/*styling for focus only*/
input[type='text']:focus + label{
  color: #FF6D00;
}
/*styling for focus and valid*/
//.m-textfield input:not([value=""]):not(:focus):invalid +  label, 
input[type='text']:focus + label, .value input[type='text'] + label{
  top: -25px;
  padding: 10px;
  font-size: 12px;

}
    $i: 1;
    @while $i <= 8 {
      $j: $i * 100;
      .w#{$j} {
        width: #{$j}px ;

        &+label{
          $k: ($i * -100) - 20;
          left : #{$k}px ;
        }
      }
      $i: $i + 1;
    }

    input[type='number']{
      width: 30px;
      float: right;
      clear: both;
    }