
 <p>{{#m-link-to "offres"}}close {{/m-link-to}}</p>
{{outlet}}
{{#assistant-recherche}}{{/assistant-recherche}}
{{#adresse-autocomplete}}{{/adresse-autocomplete}}
 <p>{{#m-link-to "offres"}}voir ma recherche{{/m-link-to}}</p>