  <div id="landing">
  <p>Aide nous à t'aider !</p>
  <p><input id='anonyme'type='checkbox'/> <label for='anonyme'>Je veux rester anonyme</label></p>
  <p>{{#m-link-to  "offres" (query-params dialog="assistant-recherche")   class=" mdc-button--raised mdc-button--primary" }}En Avant {{/m-link-to}}</p>

</div>