  <div id="landing">
  <p>Aide nous à t'aider !</p>
  <p><input id='anonyme'type='checkbox'/> <label for='anonyme'>Je veux rester anonyme</label></p>
  <p>{{#link-to "offres"}}En Avant {{/link-to}}</p>

</div>