
  {{assistant-recherche user=session.currentUser }}
{{#search-box}}{{/search-box}}
  <p>{{#m-link-to "offres" (query-params dialog="carte")  }}Carte {{/m-link-to}}</p>
les offres
{{#list-offre offres=model }} {{/list-offre}}

  <p>{{#m-link-to "offres" (query-params dialog="assistant-recherche")  }}Assistant {{/m-link-to}}</p>

