
<label for="showAssistant"> asssistant</label>  <input type="checkbox" hidden="true" id="showAssistant"> 
  {{assistant-recherche user=session.currentUser }}
{{#search-box}}{{/search-box}}
les offres
{{#list-offre offres=model }} {{/list-offre}}

<label for="showCarte"> Carte</label>  <input type="checkbox" hidden="true" id="showCarte"> 
  {{carte-recherche offres=model user=session.currentUser   bbox=bbox }}
